* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-family: hetang;
  src: url(./assets/fonts/7876a2227f56219305feab64ef3f590f.woff2);
}